main {
    background-color: beige;
}

/* NAV BAR CSS */
.nav-wrapper {
    background-color: rgb(228, 220, 209);
}
#image {
    width: 4rem;
    height: 100%;
}
.nav-text {
    color: black;
    font-weight: bolder;
}

#card-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    background-color: #f9f9f9;
}

#featured-locations-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #f9f9f9;
}

.card {
    box-sizing: border-box;
    height: 100%;
}

.featured-locations-card {
    border-radius: 25px;
}

.card-image {
    height: 300px;
}

img {
    height: 300px;
}

.card-div {
    width: 700px;
}

.btn-primary {
    background-color: rgb(214, 177, 96);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: titleFont;
    padding: 20px;
}

@font-face {
    font-family: titleFont;
    src: url(../fonts/Amsterdam\ Four_ttf\ 400.ttf);
}

.about-us {
    text-align: center;
}

#about-us-section {
    margin-top: 7%;
    margin-bottom: 7%;
}

.about-info {
    background-color: rgb(228, 220, 209);
    margin-left: 5%;
    margin-right: 5%;
    font-size: xx-large;
}

.meet-the-team {
    text-align: center;
}

#testimonials-sections {
    margin-bottom: 7%;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

#circle-photos {
    border-radius: 50%;
}

.para-sections {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: rgb(228, 220, 209);
}

.dropdown {
    display: flex;
    justify-content: center;
    margin: 3%;
}

#btn_gethsemane {
    background-color: rgb(214, 96, 96);
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.historical-map {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
    height: auto;
}

/* Scripture CSS */
#scripture-card {
    display: flex;
    box-sizing: border-box;
    font-family: Arial;
    background-image: url(https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    height: 450px;
    margin-top: 20px;
}

.verseOfDay {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 6px rgba(0, 0, 0, 0.5);
}

.scripture {
    font-style: italic;
    color: #fff;
    font-size: 20px;
}

.material-icons {
    background-color: rgb(214, 177, 96);
}
/* End of Scripture CSS */

/* BACK-BTN */

#fullVerseButton {
    background-color: rgb(214, 177, 96);
    font-weight: bold;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}
