body {
    background-color: beige;
}

.btns {
    background-color: green;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 34%;
}

.card {
    box-sizing: border-box;
    height: 100%;
}

.card-img-top {
    height: 13rem;
}

.card-body {
    background-color: rgb(228, 220, 209);
}

/* NAV BAR CSS */
.nav-wrapper {
    background-color: rgb(228, 220, 209);
}

#image {
    width: 4rem;

    height: 100%;
}

.nav-text {
    color: black;
    font-weight: bolder;
}

.donate-txt {
    color: black;
    background-color: green;
    font-weight: bold;
}

/* BACK-BTN */
#back-btn {
    background-color: rgb(214, 177, 96);
    font-weight: bold;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}
